<%- include('../includes/header.ejs') %>
<main class="content">
  <div class="container">
    <h1 class="page-title"><%= pageTitle %></h1>
    <div class="col-lg-4 col-sm-6"></div>
  </div>
</main>
<%- include('../includes/footer.ejs') %>
