<!-- ======= Header ======= -->
<%- include('../includes/header.ejs') %>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <%- include('../includes/sidebar.ejs') %>
        <!-- End Sidebar-->

        <main id="main" class="main">

            Test

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <%- include('../includes/footer.ejs') %>
            <!-- End Footer -->