<%- include('includes/header.ejs') %>
    <main>
        <h1>Shop</h1>

        <% if (productsArray.length> 0) { %>
            <% for (let counter of productsArray) { %>
                <div>Name: <%= counter.title %>
                </div>
                <% } %>
                    <% } else { %>
                        <p>Not exists</p>
                        <% } %>
                            </>
    </main>
    <%- include('includes/footer.ejs') %>