<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    </style>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Add Product</title>
</head>

<body>
    <main class="content">
        <h1 class="page-title">Add Product</h1>

        <form method="post" class="add-product-form">
            <input type="text" name="title">
            <button>Add Product</button>
        </form>

    </main>
</body>

</html>