<%- include('../includes/header.ejs') %>
    <main class="content">
        <h1 class="page-title">Add Product</h1>

        <form method="post" class="add-product-form">
            <input type="text" class="form-control" name="title" placeholder="Title">
            <input type="text" class="form-control" name="description" placeholder="Description">
            <input type="text" class="form-control" name="price" placeholder="Price">
            <button>Add Product</button>
        </form>

    </main>
    <%- include('../includes/footer.ejs') %>