<form method="post" action="/cart">
    <button type="submit" href="#0" class="main-btn secondary-1-btn">
        <img src="assets/images/icon-svg/cart-7.svg" alt=""> Add
        to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>